@font-face{font-family:'Gilroy';src:url(../fonts/Gilroy-Light.ttf);font-weight:400}
@font-face{font-family:'Gilroy';src:url(../fonts/Gilroy-Bold.ttf);font-weight:500}
@font-face{font-family:'Gilroy';src:url(../fonts/Gilroy-ExtraBold.ttf);font-weight:600}
body{height:100%;font-family:'Gilroy',sans-serif;font-weight:400;font-size:18px;color:#111;overflow-x:hidden}
.title{font-size:50px;font-weight:700;text-transform:uppercase;text-align:center;margin-top:0;margin-bottom:70px;position:relative}
#counter .title:before,#about .title:before,#visit .title:before,#gallary .title:before,#sponsors .title:before,#program .title:before,#contact .title:before{position:absolute;content:"";width:100px;height:3px;bottom:-20px;background:#e74c3c;left:50%;margin-left:-50px}
.btn{background-color:#e74c3c;border:2px solid #e74c3c;font-size:18px;color:#fff;border-radius:4px;padding:12px 30px}
.btn:hover,.btn:active,.btn:focus{color:#fff;background-color:#c0392b;border:2px solid #c0392b}
.btn-2{background-color:transparent;color:#fff;border:2px solid #fff}
.btn-2:hover,.btn-2:active,.btn-2:focus{background-color:transparent;color:#fff;border:2px solid #fff;background-color:#ffffff29}
header{position:relative;text-align:center;width:100%;height:100vh;color:#fff;background:url(../img/Commencerjshdvhgsdhgbu43t545.jpg) top center;background-size:cover}
header .bg-overley{position:absolute;width:100%;height:100vh;top:0;left:0;background:rgba(0,0,0,0.7)}
header .content-wrapper{padding-left:0;display:table;position:absolute;top:0;left:0;width:100%;height:100vh}
header .content-wrapper .content{text-align:center;display:table-cell;width:100%;height:100%;vertical-align:middle}
header .d-t-l{margin-top:70px}
header .d-t-l span{font-size:20px;margin-right:20px}
header span:last-child{margin-right:0}
header h1{text-transform:uppercase;font-size:70px;font-weight:600;line-height:90px;margin-bottom:20px}
header h1 .label{background-color:#e74c3c;padding:0 10px;font-size:inherit;font-weight:600;border-radius:0}
header .btn{margin-right:20px}
header .btn-video{margin:30px 0 40px}
header .play-btn{width:94px;height:94px;background:radial-gradient(#e74c3c 50%,rgba(101,111,150,0.15) 52%);border-radius:50%;display:block;position:relative;overflow:hidden;margin:0 auto}
header .play-btn::after{content:'';position:absolute;left:50%;top:50%;-webkit-transform:translateX(-40%) translateY(-50%);transform:translateX(-40%) translateY(-50%);width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:15px solid #fff;z-index:100;transition:all 400ms cubic-bezier(0.55,0.055,0.675,0.19)}
header .play-btn:before{content:'';position:absolute;width:120px;height:120px;-webkit-animation-delay:0;animation-delay:0;-webkit-animation:pulsate-btn 2s;animation:pulsate-btn 2s;-webkit-animation-direction:forwards;animation-direction:forwards;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:steps;animation-timing-function:steps;opacity:1;border-radius:50%;border:2px solid rgba(163,163,163,0.4);top:-15%;left:-15%;background:rgba(198,16,0,0)}
header .play-btn:hover::after{border-left:15px solid #e74c3c;-webkit-transform:scale(20);transform:scale(20)}
header .play-btn:hover::before{content:'';position:absolute;left:50%;top:50%;-webkit-transform:translateX(-40%) translateY(-50%);transform:translateX(-40%) translateY(-50%);width:0;height:0;border:none;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:15px solid #fff;z-index:200;-webkit-animation:none;animation:none;border-radius:0}
@-webkit-keyframes pulsate-btn {
0%{-webkit-transform:scale(0.6,0.6);transform:scale(0.6,0.6);opacity:1}
100%{-webkit-transform:scale(1,1);transform:scale(1,1);opacity:0}
}
@keyframes pulsate-btn {
0%{-webkit-transform:scale(0.6,0.6);transform:scale(0.6,0.6);opacity:1}
100%{-webkit-transform:scale(1,1);transform:scale(1,1);opacity:0}
}
.navbar{margin-bottom:0;background-color:transparent;border:none;position:absolute;top:0;left:0;right:0;z-index:99}
.navbar-brand{height:auto}
.navbar-default .navbar-nav>li>a{color:#fff;font-weight:500;padding-top:28px}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:focus{color:#e74c3c}
.time-count div{text-align:center}
.time-entry{display:inline-block;min-width:120px;margin:15px;height:110px;padding:20px;box-shadow:1px 10px 20px rgba(0,0,0,.2);border-radius:4px;background:#fff;text-align:center;font-weight:400;color:#212121;font-size:16px;line-height:22px}
.time-entry span{font-size:45px;line-height:45px;font-weight:500;display:block;color:#e74c3c;margin-bottom:10px}
#about,#visit,#gallary,#sponsors,#contact{padding:100px 0}
#about,#visit,#gallary,#contact{background:url(../img/subtle_dots.png) top center}
#about .welcome-text{height:455px;display:table-cell;vertical-align:middle;padding-left:30px}
#about h3{margin-top:0;margin-bottom:20px}
#about img{box-shadow:1px 10px 20px rgba(0,0,0,.2)}
#about .img-2{position:absolute;top:-50px;left:-45px;border:8px solid #fff}
#about .img-3{position:absolute;bottom:-70px;right:-20px;border:8px solid #fff}
#counter{padding:100px 0;background-color:#F3F4F3;text-align:center}
#clock{margin-bottom:30px}
#visit .item{padding:30px;background-color:#fff;box-shadow:1px 10px 20px rgba(0,0,0,.2)}
#visit .item:hover{box-shadow:1px 10px 30px rgba(0,0,0,.2)}
#visit img{margin-bottom:10px}
#visit div[class*='col-']{padding-bottom:30px}
#program{padding:100px 0;background-color:#f3f3f3}
#program .time{font-size:16px;font-weight:400;color:#777}
.panel-group .panel{border-radius:0;box-shadow:none}
.panel-default > .panel-heading{padding:0;border-radius:0;color:#212121;background-color:#F3F4F3;border-color:#EEE}
.panel-title{font-size:14px}
.panel-title > a{display:block;text-decoration:none;padding:20px;line-height:44px;background-color:#fff}
.panel-group .panel+.panel{border-top:none;margin-top:5px}
.more-less{float:right;color:#212121}
.panel-default > .panel-heading + .panel-collapse > .panel-body{border-top-color:#EEE;padding:25px 25px 25px 120px;background-color:#f3f3f3}
#accordion{margin:0 100px;box-shadow:1px 10px 20px rgba(0,0,0,.2)}
#accordion .panel-title img{float:left;margin-right:20px;border-radius:50%}
#accordion .panel-title h3{margin-top:0}
#gallary div[class*='col-']{padding:2.5px}
#gallary img:hover{opacity:.8;cursor:-webkit-zoom-in;cursor:-moz-zoom-in}
#sponsors{text-align:center;background-color:#f3f3f3}
#sponsors .sponsors-logo{vertical-align:middle;height:100px;display:table-cell}
#sponsors .sponsors-logo img{margin:0 auto}
#contact .contact-info{width:350px;display:table-cell;vertical-align:middle;height:500px;padding-left:30px}
#contact svg{font-size:42px;float:left;margin-right:20px}
#contact h3{margin-top:0}
#contact p{margin-bottom:25px;color:#777}
#contact p:last-child{margin-bottom:0}
#social{text-align:center;padding:30px 0;background-color:#F3F4F3}
#social a{font-size:40px;color:#111;margin-right:10px}
#social a:last-child{margin-right:0}
footer{background-color:#111;padding:20px 0;text-align:center}
footer p{color:#fff;margin-bottom:0}
@media (max-width: 992px) {
header h1{font-size:50px;line-height:65px}
#accordion{margin:0 50px}
#sponsors p > br{display:none}
}
@media (max-width: 768px) {
.navbar-brand img{width:200px}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:transparent}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navbar-toggle{margin-top:14px;border:none}
.navbar-default .navbar-nav>li>a{padding-top:inherit;text-align:center}
header h1{font-size:38px;line-height:48px}
header h1 > br{display:none}
header .d-t-l span{display:block;margin-right:0;font-size:16px}
header .btn-video{margin-top:20px;margin-bottom:30px}
header .play-btn{width:80px;height:80px}
header .btn,#program .btn{margin-right:0;padding:12px 65px}
header .btn-2{margin-top:15px;padding:12px 46px}
.title{font-size:28px;margin-bottom:40px}
#counter,#about,#visit,#gallary,#sponsors,#contact,#program{padding:50px 0}
#about img{margin-bottom:20px}
#accordion{margin:0}
#accordion .panel-title img{margin-bottom:50px}
.panel-default > .panel-heading + .panel-collapse > .panel-body{padding:25px}
#sponsors .sponsors-logo{height:80px}
#contact .contact-info{padding-top:20px; height:auto}
}